body {
  font-family: "Comfortaa", cursive;
}

h1 {
  color: rgb(33, 33, 33);
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li::first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  background-image: url(../images/clear.gif) no-repeat;
  background-size: cover;
  background-position: 35%;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 10px;
}

.weather-forecast .col-2 {
  background-color: #69beef4a;
  border: 1px solid #dadde164;
  border-radius: 2px;
  padding: -50px;
  transition: 300ms ease-in-out;
}

.weather-forecast .col-2:hover {
  border: solid 1px #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 15px #dfdfdf;
}

.weather-forecast h3 {
  color: rgb(33, 33, 33);
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  height: 15px;
  line-height: 15px;
  padding-top: 7px;
}

.weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 48px;
  width: 48px;
}

.weather-forecast-temperature {
  text-align: center;
  color: rgb(33, 33, 33);
  font-size: 13px;
  font-weight: 400;
  height: auto;
  line-height: 15px;
  white-space: nowrap;
}

.btn-outline-secondary {
  border: 1px solid #ced4da;
  color: #ced4da;
}

.btn-outline-secondary:hover {
  background-color: #e93f33;
}

